* {
    margin: 0;
    padding: 0;
}


/*nav bar*/
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 100;
}
nav body{
    overflow: hidden;
}
nav .logo img {
    height: 20%;
    width: 20vw;
}.logo {
    display: flex;
    align-items: center;
}
nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav .menu ul li a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
nav .menu ul li a:hover{
    transition: all 0.2s;
    border-bottom: 4px solid white;
    outline: none;
}



/*Footer*/
footer {
    text-align: center;
    background-color: black;
    margin-bottom: 0 15px;
}


footer .Footer img {
    height: 20%;
    width: 20vw;
}

footer .copy-right{
    color: white;
    font-size: 1.5rem;
}

footer .copy-right p {
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 4px;
}
